@use '../global' as *;

.p-top-profile {
    background: url(../img/commitment-story-bg-image.webp) no-repeat center center / cover;
    padding-block: rclamp(56, 120, 375, 1440);
    background-color: $color-wt;
}

.p-top-profile__inner {

}

.p-top-profile__lead-wrapper {
    margin-block-start: rclamp(40, 52, 375, 1440);
    display: flex;
    flex-direction: column;
    gap: 8px;
    @include mq(sm) {
      display: grid;
      grid-template-columns: 200px 1fr;
      gap: 20px;
    }
}



.p-top-profile__lead {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.p-top-profile__image {
    margin-inline: auto;
    inline-size: 50%;
    img {
        inline-size: 100%;
        height: 100%;
        object-fit: cover;
    }
    @include mq(sm) {
      inline-size: 200px;
    }
}

.p-top-profile__lead-main {
    font-size: rclamp(28, 32, 375, 1440);
    font-weight: 700;
    line-height: rclamp(42, 48, 375, 1440); /* 150% */
    letter-spacing: rclamp(1, 2, 375, 1440);
}

.p-top-profile__furigana {
    font-size: rclamp(14, 16, 375, 1440);
    font-weight: 700;
    line-height: rclamp(28, 32, 375, 1440); /* 150% */
    letter-spacing: rclamp(1, 2, 375, 1440);
}

.p-top-profile__lead-sub {
    font-size: rclamp(14, 16, 375, 1440);
    font-weight: 400;
    line-height: rclamp(21, 24, 375, 1440); /* 150% */
}

.p-top-profile__timeline {
    margin-block-start: rclamp(16, 24, 375, 1440);
    display: flex;
    flex-direction: column;
    position: relative;
}


.p-top-profile__timeline-item {
  margin-block-end: 70px;
  position: relative;
  background: rgba(255, 255, 255, 0.10);   // 透明度10%（かなり透ける）
  box-shadow: 0 4px 16px rgba(0,0,0,0.06);
  padding: 32px 24px;
  box-sizing: border-box;
  transition: box-shadow 0.3s;
  backdrop-filter: blur(14px);              // グラスモーフィズム効果
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,0.22); // 境界も薄く
  overflow: hidden;
}



.p-top-profile__timeline-item.is-current {
  margin-block-end: 0;
}




.p-top-profile__timeline-line {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  background: #e1e1e1;
  z-index: 2;
  /* height, topはJSで動的に指定 */
}




.p-top-profile__career-item {

}

.p-top-profile__career-title {
    font-size: rclamp(14, 16, 375, 1440);
    font-weight: 700;
    line-height: rclamp(21, 24, 375, 1440); /* 150% */
}

.p-top-profile__career-description {
    font-size: rclamp(14, 16, 375, 1440);
    font-weight: 400;
    line-height: rclamp(21, 24, 375, 1440);
    margin-block-start: 8px;
}

.p-top-profile__current {
    font-size: rclamp(20, 24, 375, 1440);
    font-weight: 700;
    line-height: rclamp(30, 36, 375, 1440); /* 150% */
}

