@use '../global' as *;

.p-top-contact {
    background-color: $color-wt;
      padding-block: rclamp(56, 120, 375, 1440) rclamp(24, 120, 375, 1440);
}

.p-top-contact__inner {

}

.p-top-contact__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.p-top-contact__description {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: 0.64px;
}

.p-top-contact__links {
    display: flex;
    gap: 20px;
    align-items: end;
    @include mq(ct3) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
    }
}

.p-top-contact__form {
    margin-block-start: 64px;
}

.p-top-contact__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.p-top-contact__row {
    textarea {
        inline-size: 100%;
        min-block-size: 200px;
    }
}

.p-top-contact__head {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: 0.64px;
}

.p-top-contact__data {
    position: relative;
    margin-block-start: 10px;
    padding: 20px 20px;
    border: 2px solid  #f0f0f0;
    background: #f0f0f0;
}

.p-top-contact__data .wpcf7-not-valid-tip {
  position: absolute;
  inset-inline-start: -20px;
  inset-block-start: 45px;
  inline-size: 100%;
  /* ここでliの下に見えるようにレイアウト調整 */
}

.p-top-contact__data.is-focus {
  border: 2px solid #0071bc;
}


.p-top-contact__required {
    margin-inline-start: 6px;
    padding: 4px 8px;
    background: $color-rd;
    color: $color-wt;
    font-size: rclamp(12, 14, 375, 1440);
    font-weight: 400;
    line-height: rclamp(18, 21, 375, 1440); /* 150% */
}

.p-top-contact__privacy-policy {

}

.p-top-contact__privacy-block {
    margin-block-start: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.p-top-contact__privacy-heading {
    text-align: center;
    font-size: rclamp(14, 16, 375, 1440);
    font-weight: 700;
    line-height: rclamp(21, 24, 375, 1440); /* 150% */
}


.p-top-contact__privacy-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
    letter-spacing: 0.56px;
}

.p-top-contact__acceptance {
    text-align: center;
}

.p-top-contact__data-checkbox label{
    span {
        padding-inline-start: 25px;
        font-size: rclamp(14, 16, 375, 1440);
        font-weight: 700;
        line-height: rclamp(21, 24, 375, 1440); /* 150% */
        display: inline-block;
        cursor: pointer;
        position: relative;

        //frame
        &::before {
          content: '';
          position: absolute;
          inset-block-start: 50%;
          translate: 0 -50%;
          left: 0;
          width: 20px;
          height: 20px;
          border: 2px solid $color-bk;
        }
        //active
        &::after {
          content: '';
          position: absolute;
          top: 3px;
          left: 7px;
          width: 8px;
          height: 14px;
          rotate: 45deg;
          border-right: 3px solid $color-bk;
          border-bottom: 3px solid $color-bk;
          opacity: 0;
          transition: opacity 0.3s ease;
        }
    }
}

.p-top-contact__submit {
    text-align: center;
    margin-block-start: 16px;
}

input {
    width: 100%;
}

input[type=checkbox] {
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
  //チェックボックスカスタマイズ ====================
  //チェックされた時の挙動
  input[type=checkbox]:checked + span {
    &::after {
      opacity: 1;
    }
  }

.p-top-contact__row .wpcf7-not-valid-tip {
  display: block;
  min-height: 1.2em;             /* エラーが無い時も高さを確保 */
  margin-top: 4px;
  color: #e74c3c;
  font-size: 0.9em;
  transition: opacity 0.25s;
  opacity: 1;
}

.p-top-contact__data-checkbox .wpcf7-not-valid-tip {
    margin-block-start: 10px;
}

.p-top-contact__row .wpcf7-not-valid-tip.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.wpcf7-response-output {
  margin-top: 1em;
  background: $color-wt;
  color: $color-rd;
  border: 1px solid $color-rd;
  padding: 0.8em 1em;
  font-size: 0.875rem;
}

.wpcf7 form.invalid .wpcf7-response-output {
    border-color: $color-rd;  /* エラー時の色 */
    inline-size: fit-content;
    text-align: center;
    margin-inline: auto;
}

.p-top-contact__button {
}


.wpcf7 form.invalid .p-top-contact__button {
    border: 6px double $color-wt;
    background: rgb(250, 123, 4);

}

.wpcf7 form.invalid .p-top-contact__link-text {
    color: $color-wt;
}