@use '../global' as *;

.p-thanks {
    background: url(../img/commitment-story-bg-image.webp) no-repeat center center / cover;
    block-size: 100%;
    display: flex;
    align-items: center;
}

.p-thanks__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 32px;
}

.p-thanks__title {
    font-family: $font-sub;
    font-size: rclamp(48, 110, 375, 1440);
    font-weight: 700;
    line-height: 100%; /* 48px */
}

.p-thanks__description {
    font-size: rclamp(16, 24, 375, 1440);
    font-weight: 700;
    line-height: rclamp(24, 36, 375, 1440); /* 150% */
    letter-spacing: rclamp(1, 2, 375, 1440);
}

.p-thanks__button {

}
