@use '../global' as *;

.p-top-assurance {
    background-color: $color-wt;
    padding-block: rclamp(56, 120, 375, 1440)
}

.p-top-assurance__inner {
    @include mq(lg) {
      display: grid;
      grid-template-columns: calc(520 / 1120 * 100%) calc(548 / 1120 * 100%);
      gap: 52px;
    }
}

.p-top-section-heading {
    text-align: left;
}

.p-top-assurance__heading {

}

.p-top-assurance__heading-title {
    text-align: left;
}

.p-top-assurance__lead {
    margin-block-start: rclamp(28, 32, 375, 1440);
    font-size: rclamp(14, 16, 375, 1440);
    font-weight: 400;
    line-height: rclamp(21, 24, 375, 1440); /* 150% */
    text-align: left;
}

.p-top-assurance__image {
    margin-block-start: rclamp(25, 32, 375, 1440);
    inline-size: rclamp(265, 516, 375, 1440);
    margin-inline: auto;
    img {
        inline-size: 100%;
        block-size: auto;
        aspect-ratio: 390 / 310;
        object-fit: cover;
    }
}

.p-top-assurance__list {
    margin-block-start: 32px;
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: rclamp(16, 24, 375, 1440);
    @include mq(lg) {
      margin-block-start: revert;
    }
}

.p-top-assurance__item {

}

.p-top-assurance__title {
    color: $color-rd;
    font-size: rclamp(16, 24, 375, 1440);
    font-weight: 700;
    line-height: rclamp(24, 36, 375, 1440); /* 150% */
    letter-spacing: rclamp(1, 2, 375, 1440);
    text-align: left;
}

.p-top-assurance__sublist {
    margin-block-start: rclamp(4, 12, 375, 1440);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.p-top-assurance__text {
    position: relative;
    font-size: rclamp(14, 16, 375, 1440);
    font-weight: 400;
    line-height: rclamp(21, 24, 375, 1440); 
    padding-inline-start: 15px;/* 150% */
    text-align: left;

    &::before {
        position: absolute;
        content: "";
        inset-block-start: 12px;
        inset-inline-start: 5px;
        inline-size: 3px;
        block-size: 3px;
        border-radius: 100vmax;
        background: $color-bk;
    }
}

