@use '../global' as *;

.p-top-works {
    padding-block: rclamp(56, 120, 375, 1440);
}

.p-top-works__inner {

}

.p-top-works__list {
    margin-block-start: rclamp(40, 52, 375, 1440);
    display: grid;
    grid-template-columns: 1fr;
    gap: rclamp(48, 56, 375, 1440);
    @include mq(lg) {
        grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
    }
}

.p-top-works__item {
    display: flex;
    flex-direction: column;
    gap: rclamp(8, 12, 375, 1440);
    cursor: pointer;
    transition: transform 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.05);
      }
    }
}

.p-top-works__item--disabled {
    cursor: default;
    transition: none;

    @media (any-hover: hover) {
      &:hover {
        transform: none;
      }
    }
}

.p-top-works__link {
}

.p-top-works__image {

}

.p-top-works__detail {
    display: flex;
    gap: 8px;
    font-size: rclamp(16, 20, 375, 1440);
    font-weight: 700;
    line-height: rclamp(24, 30, 375, 1440); /* 150% */
}

.p-top-works__title {
    font-size: rclamp(16, 18, 375, 1440);
    font-weight: 700;
    line-height: rclamp(24, 27, 375, 1440); /* 150% */
}

.p-top-works__button {
    margin-block-start: rclamp(40, 52, 375, 1440);
    text-align: center;
}


