@use '../global' as *;

.p-top-commitment {
    background: url(../img/commitment-story-bg-image.webp) no-repeat center center / cover;
    padding-block: rclamp(56, 120, 375, 1440);
    text-align: center;
    background-color: $color-wt;
}

.p-top-commitment__inner {

}


.p-top-commitment__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-block-start: rclamp(40, 52, 375, 1440);
    gap: rclamp(16, 24, 375, 1440);
}

.p-top-commitment__item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.p-top-commitment__title {
    font-size: rclamp(16, 18, 375, 1440);
    font-weight: 700;
    line-height: rclamp(24, 27, 375, 1440);
}

.p-top-commitment__message {
    font-size: rclamp(14, 16, 375, 1440);
    font-weight: 400;
    line-height: rclamp(21, 24, 375, 1440); /* 150% */
    @include mq(sm-down) {
        // text-align: left;    /* テキストだけ左揃え */
        max-inline-size: 500px;    /* 横幅制限（任意） */
        inline-size: 100%;
        margin-inline:auto;
    }
}

.p-top-commitment__link {
    text-decoration: underline;
    position: relative;
    display: inline-block;
    cursor: pointer;
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $color-rd;
      }
    }
}


  