@use 'sass:map';   // mapモジュールをインポート

// ブレイクポイント
$breakpoints: (
  sp:  "screen and (max-width: 599px)",   // スマホ
  tb:  "screen and (min-width: 600px) and (max-width: 1199px)", // タブレット
  md:  "screen and (min-width: 768px)",   // よく使う中間点（iPad・タブレット）
  lg:  "screen and (min-width: 900px)",  // 大きめタブレット・小型PC
  pc:  "screen and (min-width: 1200px)",  // PC
  xl:  "screen and (min-width: 1440px)"   // 大型モニター
);

// メディアクエリのmixin
@mixin mq($breakpoint: sp) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}
