@use '../global' as *;

.l-header {
    position: fixed;
    opacity: 0;
    z-index: 100;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: auto;
    background-color: $color-bk;
    transition: translate 0.2s ease;
    &.js-slide-up {
        translate: 0 -100%;
    }
}

.l-header__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: min(20px, 1.3888888888vw);
}

.l-header__logo {
      display: block;
      padding-block: 16px;
      @include mq(lg) {
          padding-block: min(18px, 1.25vw);
      }
}

.l-header__logo-link {
    color: $color-wt;
    font-family: $font-sub;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 24px */
    letter-spacing: 1.2px;
}

.l-header__nav {
    display: none;
    @include mq(lg) {
        display: flex;
        color: $color-wt;
    }
}

