@use '../global' as *;

.l-section__inner--wide {
    inline-size: min(calc(1400px + 20px * 2), 100%);
    // padding-inline: 20px;
    margin-inline: auto;
}

.l-section__inner {
    inline-size: min(calc(1120px + 20px * 2), 100%);
    padding-inline: 20px;
    margin-inline: auto;
}

.l-section__inner--mv {
    inline-size: min(calc(1220px + 80px * 2), 100%);
    padding-inline: 80px;
    margin-inline: auto;
}

.l-section__inner--narrow {
    inline-size: min(calc(600px + 20px * 2), 100%);
    padding-inline: 20px;
    margin-inline: auto;
}

.l-main {

}