@use '../global' as *;

.c-button {
    display: inline-flex;
    align-items: center; // 上下中央揃え
    justify-content: center; // 左右中央揃え
}

.c-button__text {
    font-size: min(20px, 1.3888888888vw);
}